<ul class="custom-nav nav nav-pills mb-5">
  <%= link_to 'DailyHours', root_path, class: "navbar-brand home-brand h1" %>
  <% if user_signed_in? %>
    <%= render 'shared/employee_nav_items' if employee? %>

    <%= render 'shared/audit_log_tab' if admin? %>

    <li class="nav-item mr-0 ml-auto">
      <span class="nav-link"><%= current_user.full_name %></span>
    </li>

    <li class="nav-item dropdown ml-md-0">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Account</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <%= render 'shared/admin_dropdown' if admin? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </li>
  <% end %>
</ul>
