<div class='row'>
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= form_with model: @post, local: true do |f| %>
        <% if @post.errors.any? %>
          <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert">
              <%= msg %>
            </div>
          <% end %>
        <% end %>

        <div class="form-group">
          <%= f.label :date %>
          <%= f.date_field :date,  class: "form-control" %><br />
        </div>

        <div class="form-group">
          <%= f.label :daily_hours %>
          <%= f.number_field :daily_hours, step: 0.5, class: "form-control" %><br />
        </div>

        <div class="form-group">
          <%= f.label :work_performed %>
          <%= f.text_area :work_performed, class: "form-control" %>
        </div>

        <%= f.submit 'Submit', class: "btn btn-primary" %>
      <% end %>
    </div>
  <div class="col-md-2"></div>
</div>

