<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.overtime_request %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= truncate(post.rationale) %>
  </td>
  <td>
    <%= status_tag(post.status) %>
  </td>
  <td>
    <%= link_to 'Edit', edit_post_path(post), id: "edit-#{post.id}" if policy(post).update? %>
  </td>
  <td>
    <%= link_to 'Delete', post_path(post), id: "delete-from-index-#{post.id}", method: :delete, data: { confirm: 'Are you sure?'} %>
  </td>
</tr>