<tr>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.daily_hours %>
  </td>
  <td>
    <%= link_to truncate(post.rationale), post_path(post) %>
  </td>
  <td>
    <%= status_tag(post.status) %>
  </td>
  <td>
    <%= link_to edit_post_path(post), id: "edit-#{post.id}" do %>
      <%= fa_icon "edit 2x" %>
    <% end if policy(post).update? %>
  </td>
  <td>
    <%= link_to post_path(post), id: "delete-from-index-#{post.id}", method: :delete, data: { confirm: 'Are you sure?'} do %>
      <%= fa_icon "trash 2x" %>
    <% end %>
  </td>
</tr>
